<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.user.brew_upgrade</string>
        <key>ProgramArguments</key>
        <array>
            <string>brew update && brew upgrade && curl -d "Apps Updated/Upgraded" https://ntfy.thenettework.com/brew</string>
        </array>

        <key>StartCalendarInterval</key>
        <array>
 	     <dict>
                <key>Minute</key>
                <integer>0</integer>
                <key>Hour</key>
                <integer>12</integer>
                <key>Day</key>
                <integer>1</integer>
            </dict>

            <!-- Run at 12 PM on the 8th of the month -->
            <dict>
                <key>Minute</key>
                <integer>0</integer>
                <key>Hour</key>
                <integer>12</integer>
                <key>Day</key>
                <integer>8</integer>
            </dict>

            <!-- Run at 12 PM on the 1st of the month -->
            <dict>
                <key>Minute</key>
                <integer>0</integer>
                <key>Hour</key>
                <integer>12</integer>
                <key>Day</key>
                <integer>15</integer>
            </dict>

            <!-- Run at 12 PM on the 22nd of the month -->
            <dict>
                <key>Minute</key>
                <integer>0</integer>
                <key>Hour</key>
                <integer>12</integer>
                <key>Day</key>
                <integer>22</integer>
            </dict>
        </array>

        <key>RunAtLoad</key>
        <true/>

        <!-- Optionally, you can also log output for debugging-->
        <key>StandardOutPath</key>
        <string>/Users/ryanjinnette/Code/brew_apps/upgrade.log</string>
    </dict>
</plist>

